
.container {
    max-width: 800px;
    padding: 20px;
    margin: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

.header {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 20px;
}
.form{
    width: 80%;
}

.form input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 35px;
    border: 1px solid black;
}

.form button {
    padding: 10px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    border: 2px solid black;
}

.list {
    width: 80%;
}

.list ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.item{
    list-style: none;
    background-color: rgb(51, 49, 49);
    margin-bottom: 20px;
    margin-left: -40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.item p{
    display: inline;
    font-weight: 450;
    background-color: rgb(170, 170, 170);
    padding: 5px;
    letter-spacing: 1px;
}
 .item span {
    background-color: red;
    padding: 5px;
    color: aliceblue;
    cursor: pointer;
 }
